.review {
    background-color: $main;
    &__header {
        position: relative;
    }
    &__title {
        position: absolute;
        top: -111px;
        left: -101px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 420px;
        height: 111px;
        box-shadow: 0 10px 43px rgba(0, 0, 0, 0.18);
        background-color: #f88f35;
        color: #ffffff;
        font-family: $optima;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.72px;
    }
    &__card {
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__comments {
        width: 100%;
        position: relative;
        z-index: 99;
    }
    &__btn {
        cursor: pointer;
        position: absolute;
        top: -115px;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #212529;;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        &-prev {
            right: 120px;
        }
        &-next {
            right: 20px;
        }
    }
    &__pagination {
        top: -100px;
        left: 205px;
        max-height: 50px;
    }
}
.material {
    padding: 65px;
    background-color: #fff;
    box-shadow: 0 10px 43px rgba(0, 0, 0, 0.18);
    &__title {
        color: #fc7603;
        font-size: 18px;
    }
    &__items {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        margin-top: 11px;
    }
}