$default-font: "MyriadPro", sans-serif;
$semibold-font: "MyriadProSemiBold", sans-serif;
$optima: "Optima", sans-serif;
$helvetica: "HelveticaNeueCyrMedium", sans-serif;
$open: "OpenSansRegular", sans-serif;
$arial: "ArialNarrowRegular", sans-serif;

// Colors
$main: #f1f3f4;
$dark: #ecebeb;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1230px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1200px);

$gutter: $grid-gutter-width;

